h1 {
	font-size: 20px;
	line-height: 1.3;
	color: #7fc0a9;
	font-family: "Arial-MT", "Helvetica Neue", Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
}

h2 {
	font-size: 14px;
	line-height: 1.43;
	color: #9b9b9b;
	font-family: "Arial-MT", "Helvetica Neue", Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
}

.desktop-nav-link {
	font-size: 12px;
	color: #ffffff;
	font-family: "Arial MT bold", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	padding-bottom: 20px;
	display: block;
	text-decoration: none;
}

.quote {
	font-size: 12px;
	line-height: 2;
	color: #9b9b9b;
	font-family: 'Libre Baskerville', serif;
	font-style: normal;
	font-variant: normal;
}

.emphasise {
	font-weight: bold;
} 

.col2-header-wrapper {
	padding-top: 185px;
	padding-bottom: 30px;
}

.col3-wrapper{
	padding-top: 125px;
	margin: 0 auto;
}

.col2-wrapper {
	width:192px;
	margin:0 auto;
}

.mb10 {
	margin-bottom: 10px;
}

#sectiona{
	width:30%;
	float:left;
	background: #7fc0a9;
}

#sectionb{
	width:70%;
	float:left;
	background: deepskyblue;
}


/*Section A*/

.sectiona-col1 {
	padding-top: 185px;
}

.sectiona-col1-wrapper {
	margin: 0 auto;
    width: 200px;
    padding: 40px;
}

/*Section B*/
#sectionb-col2 {
	width:50%;
	float:left;
	background: purple;
}

/*Column 3*/

#col3 {
	width:50%;
	float:right;
	background: pink;
}

#col3-logo {
	background: green;
	padding-bottom: 55px;
}

#col3-quotation {
	background: yellow;
}

#footer {
	float: left;
    clear: both;
    display:none;
    background: chartreuse;
    width:100%;
}

@media screen and (max-width: 780px) {
	#sectiona{
		width:25%;
	}

	#sectionb{
		width:75%;
	}

}

@media screen and (max-width: 480px) {
	#sectiona{
		display: none;
	}

	#sectionb{
		width: 100%
	}

	#sectionb-col2 {
		width:100%;
	}

	#col3 {
		width:100%;
	}

	#col3-wrapper {
		display: flex;
		flex-direction:column;
		flex-direction: column-reverse;
	}
	

	#footer {
		display: block;
	}
	
}